@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}
p {
  color: white;
}
h1,
h2,
h3,
h4,
h5,
strong {
  color: white !important;
  font-family: Hacked !important;
  font-size: 64px !important;
}
a {
  color: red;
  text-decoration: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.text {
  color: white;
}
