@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}
p {
  color: white;
}
h1 {
  color: white;
  font-family: Hacked;
  font-size: 64px;
}
h5 {
  color: white;
}
a {
  color: white;
}
strong{
  color:white;
}
.text{
  color:white;
  font-family: Hacked;
}