@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}
p {
  color: white !important;
}
h1 {
  color: white !important;
  font-family: Hacked !important;
  font-size: 46px !important;
}
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
a {
  color: red !important;
  text-decoration: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.text {
  color: white;
}
